<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerical Analysis</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" >
    
</head>
<body>

    <nav>

      <a class="burger" href="home.html">
        <svg class="icon-bu" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2z"></path>
        </svg>
      </a>

      <img src="../img/favicon.ico" alt="logo rubik" width="50" height="50" viewBox="0 0 50 50">
      <span>NumericalAnalysis</span>

      <div>

        <form action="search-results.html" method="GET">
          <input type="text" name="query" placeholder="Search methods...">
          <input type="submit"></input>
        </form>


      </div>

      
    

      
    </nav>

    <main>

      <aside  id="myAside">


        <a class="home-aside" href="home.html" aria-current="page">
          <div>
            <svg class="icon-home" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"></path>
            </svg>
            
            <span>Home</span>
            
          </div>
        </a>
  
  
        <a class="methods-aside" href="methods.html" aria-current="page">
          <div>
            <svg class="icon-methods" width="24" height="24" viewBox="0 0 24 24">
              <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
            </svg>
            
            <span>Methods</span>
            
          </div>
        </a>
  
  
      </aside>


      <section>

        <div class="methods">

          <div class="chapter-one">
            <h3>Soliving no-lineal equations <br>of one variable: </h3>
  
            <a href="../templates/chapter-1/bisection/bisection.html">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Bisection</span>
                
              </div>
            </a>
  
            <a href="../templates/chapter-1/false_position/false_position.html">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>False position</span>
                
              </div>
            </a>
  
            <a href="..\templates\chapter-1\fixed_point\fixed_point.html">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Fixed point</span>
                
              </div>
            </a>
  
            <a href="..\templates\chapter-1\secant\secant.html">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Secant</span>
                
              </div>
            </a>
  
  
            <a href="..\templates\chapter-1\newton-raphson\newton-raphson.html">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Newton-Raphson</span>
                
              </div>
            </a>
  
  
            <a href="..\templates\chapter-1\multiple_roots\multiple_roots.html">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Multiple roots</span>
                
              </div>
            </a>
            
            
  
          
          </div>
  
  
          <div class="chapter-two">
            <h3>Solution of systems of equations: </h3>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Jacobi</span>
                
              </div>
            </a>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Gauss-Seidel</span>
                
              </div>
            </a>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>SOR</span>
                
              </div>
            </a>
  
          
          </div>
  
          <div class="chapter-three">
            <h3>Interpolation: </h3>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Vandermonde</span>
                
              </div>
            </a>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Newton</span>
                
              </div>
            </a>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Lagrange</span>
                
              </div>
            </a>
  
            <a href="">
              <div>
                <svg  width="24" height="24" viewBox="0 0 24 24">
                  <path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"></path>
                </svg>
                
                <span>Spline</span>
                
              </div>
            </a>
  
          
          </div>


        </div>
        
        

      </section>



    </main>



    
    
</body>
</html>

